
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
}


body{
    height:100%;
    -webkit-font-smoothing:antialiased;
}
body{
    display:grid;
    place-items: center;
     background:radial-gradient(#050405, #17011b, #1b085e);
   
}
main{
    background: url(img/background.png);
    width: 375px;
    height: 812px;
}
.conteiner{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: rebeccapurple;
    
}
p{
    color: rebeccapurple;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2rem;
}
.avatar span{
    position: absolute;
    margin: -1rem;
      z-index: 1;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
  clip-path: polygon(50% 0, 100% 15%, 100% 68%, 53% 100%, 0 69%, 0 17%);

}
.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position:relative ;
}

a{
    color:rgb(72, 161, 245);
    text-decoration: none;
    margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}


ul{
    list-style: none;
    margin-top: 4rem;
    padding: 0;
    display: flex;
    gap:0.5rem;
    justify-content: center;
}
li{
     box-shadow:6px 6px 6px #1C1C1C;
}



